#sever
PORT = 5000
NODE_ENV = development
CORS_ORIGIN = *

# Database
# localhost == 127.0.0.1
DB_HOST = 
DB_PORT = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 

#Bcrypt data
BCRYPT_SALT_ROUNDS = 

#JWT
JWT_SECRET_KEY = 
JWT_EXPIRE = 